@model VarlikZimmetDepoYonetimi.UI.Models.ApiDTO.AssetUpdateDTO

@{
    Layout = "~/Views/Shared/_AssetInfo.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/startbootstrap-sb-admin-gh-pages/css/styles.css" rel="stylesheet" />

<form asp-action="RegistrationInfo" asp-controller="AssetInfoPage" method="post">
    <div>
        <div class="container px-4">
            <div class="row">
                <div class="col-md-12 table-responsive mt-4">
                    <p class="text-primary">Varlık No :</p>
                    <select asp-for="SelectedAsset" asp-items="@Model.Asset.Select(x=> new SelectListItem { Text = x.RegistrationNumber, Value = x.AssetID.ToString() })" class="form-control">
                        <option>Varlık Seçiniz</option>
                    </select>
                    <br />
                    <table class="table table-bordered ">
                        <thead style="background-color:paleturquoise">
                            <tr>
                                <th>Kayıt Tarihi</th>
                                <th>Kayıt Açan</th>
                                <th>Durum</th>
                                <th>Son İşlem</th>
                                <th>Son İşlem Tarihi</th>
                                <th>Aksiyon Kişi</th>
                                <th>Aksiyon Grup</th>
                                <th>İşlem Açıklaması</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>ornek1</td>
                                <td>ornek2</td>
                                <td>ornek3</td>
                                <td>ornek4</td>
                                <td>ornek5</td>
                                <td>ornek6</td>
                                <td>ornek7</td>
                                <td>ornek8</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="mt-4 text-primary">Kayıt Bilgileri</h2>
            <div class="row mb-4">
                <h5 class="mt-3">Ürün Bilgileri</h5>
            </div>
        </div>
    </div>
    <div class="container py-5">

        <div class="row">
            <div class="col-md-6 mt-3 form-group">             
                <div class="row">
                    <div class="form-check form-switch py-3 col-md-4">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Barkod</label>
                    </div>
                    <div class="col-md-4">
                        <label>Miktar</label>
                        <input asp-for="Quantity" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Birim</label>
                        <input asp-for="UnitName" type="text" class="form-control" />
                    </div>
                </div>
                <br />
                <label>Ürün Tipi</label>
                <select asp-for="SelectedAssetType" asp-items="@Model.AssetType.Select(x=> new SelectListItem { Text = x.AssetTypeName, Value = x.AssetTypeID.ToString() })" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <br />
                <label>Marka</label>
                <select asp-for="SelectedBrand" asp-items="@Model.Brand.Select(x=> new SelectListItem { Text = x.BrandModelName, Value = x.BrandModelID.ToString()})" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <br />
                <label>Model</label>
                <select asp-for="SelectedModel" asp-items="@Model.Model.Select(x=> new SelectListItem { Text = x.BrandModelName, Value = x.BrandModelID.ToString() })" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <br />
                <label>Garantili Mi?</label>
                <input type="text" class="form-control" />
                <br />
                <label>Açıklama</label>
                <textarea asp-for="Description" type="text" class="form-control" style="height:100px" /></textarea>

            </div>
            <div class="col-md-6 form-group">
                <label class="mt-3">Giriş Tarihi</label>
                <input asp-for="CreateDate" type="datetime" class="form-control" />
                <br />
                <label>Emeklilik Tarihi</label>
                <input asp-for="RetireDate" type="datetime" class="form-control" />
                <br />
                <label>Maliyeti</label>
                <input asp-for="Cost" type="text" class="form-control" />
                <br />
                <label>Para Birimi</label>
                <select asp-for="SelectedCurrency" asp-items="@Model.Currency.Select(x=> new SelectListItem { Text = x.CurrencyName, Value = x.CurrencyID.ToString() })" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <br />
                <label>Güncel Fiyatı</label>
                <input asp-for="AssetPrice" type="text" class="form-control" />
                <br />
                <label>Guncel Fiyat Para Birimi</label>
                <select asp-for="SelectedCurrency" asp-items="@Model.Currency.Select(x=> new SelectListItem { Text = x.CurrencyName, Value = x.CurrencyID.ToString() })" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <div class="mt-3">
                    <input type="submit" value="Guncelle" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/js/datatables-simple-demo.js"></script>