@model VarlikZimmetDepoYonetimi.UI.Models.ApiDTO.AssetAddDTO

@{
    Layout = "~/Views/Shared/_AddAsset.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/startbootstrap-sb-admin-gh-pages/css/styles.css" rel="stylesheet" />

<div asp-validation-summary="All"></div>

<form asp-action="AddAsset" asp-controller="AssetPage">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 mt-3 form-group">
                <div class="row">
                    <div class="form-check form-switch py-3 col-md-4">
                        <input class="form-check-input" type="checkbox" role="switch" onclick="barcode_Click" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Barkod</label>
                    </div>

                    <div class="col-md-4">
                        <span>Miktar</span>
                        <input asp-for="Quantity" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <span>Birim</span>
                        <input asp-for="UnitName" type="text" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Barcode">Barkod</span>
                <input asp-for="Barcode" type="text" class="form-control" />
                <br />
                <span asp-validation-for="RegistrationNumber">Kayıt Numarası</span>
                <input asp-for="RegistrationNumber" type="text" class="form-control" />
                <br />
                <span asp-validation-for="SelectedAssetGroup">Ürün Grubu</span>
                <select asp-for="SelectedAssetGroup" asp-items="@Model.AssetGroup.Select(x=> new SelectListItem { Text = x.AssetGroupName, Value = x.AssetGroupID.ToString() })" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <br />
                <span asp-validation-for="SelectedAssetType">Ürün Tipi</span>
                <select asp-for="SelectedAssetType" asp-items="@Model.AssetType.Select(x=> new SelectListItem { Text = x.AssetTypeName, Value = x.AssetTypeID.ToString() })" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <br />
                <span asp-validation-for="SelectedBrand">Marka</span>
                <select asp-for="SelectedBrand" asp-items="@Model.Brand.Select(x=> new SelectListItem { Text = x.BrandModelName, Value = x.BrandModelID.ToString()})" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <br />
                <span asp-validation-for="SelectedModel">Model</span>
                <select asp-for="SelectedModel" asp-items="@Model.Model.Select(x=> new SelectListItem { Text = x.BrandModelName, Value = x.BrandModelID.ToString() })" class="form-select"></select>
                <br />
                <label>Garantili Mi?</label>
                <select class="form-select">
                    <option>Seçiniz</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <span asp-validation-for="CreateDate" class="mt-3">Giriş Tarihi</span>
                <input asp-for="CreateDate" type="date" class="form-control" />
                <br />
                <span>Emeklilik Tarihi</span>
                <input asp-for="RetireDate" type="date" class="form-control" />
                <br />
                <span asp-validation-for="Cost">Maliyeti</span>
                <input asp-for="Cost" type="text" class="form-control" />
                <br />
                <label>Para Birimi</label>
                <select asp-for="SelectedCurrency" asp-items="@Model.Currency.Select(x=> new SelectListItem { Text = x.CurrencyName, Value = x.CurrencyID.ToString() })" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <br />
                <span asp-validation-for="AssetPrice">Güncel Fiyatı</span>
                <input asp-for="AssetPrice" type="text" class="form-control" />
                <br />
                <span asp-validation-for="SelectedCurrency">Guncel Fiyat Para Birimi</span>
                <select asp-for="SelectedCurrency" asp-items="@Model.Currency.Select(x=> new SelectListItem { Text = x.CurrencyName, Value = x.CurrencyID.ToString() })" class="form-select">
                    <option>Seçiniz</option>
                </select>
                <br />
                <label>Açıklama</label>
                <textarea asp-for="Description" class="form-control" style="height:100px"></textarea>
                <div class="mt-3">
                    <input type="submit" value="Kaydet" class="btn btn-primary" onclick="Save" />
                </div>
            </div>
        </div>
    </div>
</form>


<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/js/datatables-simple-demo.js"></script>
